
        .body-initial {
            background-color: rgba(255, 255, 255, 1);
            border-color: #000000;
        }
        
        .silex-id-1478366444112-1 {
            top: 100px;
            left: NaNpx;
            background-color: rgba(39, 62, 255, 1);
            min-width: 957px;
        }
        
        .silex-id-1478366444112-0 {
            min-height: 132px;
            background-color: rgba(134, 241, 255, 1);
            top: 15px;
            left: 386px;
            width: 957px;
            border-color: #000000;
        }
        
        .silex-id-1520589789639-2 {
            width: 215px;
            min-height: 56px;
            top: 6px;
            left: 582px;
            background-color: rgba(26, 255, 20, 1);
            border-width: 0.1px 0.1px 0.1px 0.1px;
            border-style: solid;
        }
        
        .silex-id-1520589719773-1 {
            width: 84px;
            min-height: 54px;
            top: 4px;
            left: 494px;
            background-color: rgba(26, 255, 20, 1);
            border-width: 0.1px 0.1px 0.1px 0.1px;
            border-style: solid;
        }
        
        .silex-id-1520589933819-3 {
            width: 315px;
            min-height: 50px;
            top: 71px;
            left: 482px;
            background-color: rgba(255, 196, 35, 1);
            border-width: 0.1px 0.1px 0.1px 0.1px;
            border-style: solid;
        }
        
        .silex-id-1520589545567-0 {
            width: 449px;
            min-height: 114px;
            top: 9px;
            left: 13px;
            border-width: 0.2px 0.2px 0.2px 0.2px;
            border-style: solid;
            border-color: #86f1ff;
        }
        
        .silex-id-1520590021412-4 {
            width: 96px;
            min-height: 80px;
            top: 6px;
            left: 829px;
            background-color: rgba(255, 196, 35, 1);
            border-width: 0.1px 0.1px 0.1px 0.1px;
            border-style: solid;
        }
        
        .silex-id-1474394621033-3 {
            top: 5px;
            left: 0px;
            background-color: rgba(39, 62, 255, 1);
            border-color: #000000;
            min-width: 956px;
        }
        
        .silex-id-1474394621032-2 {
            min-height: 600px;
            background-color: rgba(216, 255, 225, 1);
            border-width: 0.1px 0.1px 0.1px 0.1px;
            border-style: solid;
            top: 15px;
            left: 386px;
            width: 956px;
        }
        
        .silex-id-1520586872304-0 {
            width: 177px;
            background-color: rgba(193, 255, 250, 1);
            min-height: 549px;
            top: 28px;
            left: 755px;
            border-width: 0.1px 0.1px 0.1px 0.1px;
            border-style: solid;
        }
        
        .silex-id-1520587576781-2 {
            width: 164px;
            min-height: 537px;
            top: 8px;
            left: 6px;
        }
        
        .silex-id-1520587466797-0 {
            width: 690px;
            min-height: 294px;
            top: 29px;
            left: 47px;
        }
        
        .silex-id-1520587515585-1 {
            width: 690px;
            min-height: 231px;
            top: 347px;
            left: 44px;
        }
        
        .silex-id-1520590564122-8 {
            width: 479px;
            min-height: 273px;
            top: 311px;
            left: 459px;
        }
        
        .silex-id-1520590491204-6 {
            width: 420px;
            min-height: 276px;
            top: 308px;
            left: 23px;
        }
        
        .silex-id-1520590582821-9 {
            width: 924px;
            min-height: 498px;
            top: 2px;
            left: 23px;
        }
        
        .silex-id-1520591131809-10 {
            width: 186px;
            min-height: 582px;
            top: 8px;
            left: 758px;
            border-width: 0.1px 0.1px 0.1px 0.1px;
            border-style: solid;
        }
        
        .silex-id-1520591448668-11 {
            width: 534px;
            min-height: 273px;
            top: 17px;
            left: 17px;
        }
        
        .silex-id-1520591471055-12 {
            width: 717px;
            min-height: 279px;
            top: 291px;
            left: 17px;
        }
        
        .silex-id-1520591686216-13 {
            width: 99px;
            min-height: 107px;
            top: 468px;
            left: 813px;
            background-color: rgba(255, 196, 35, 1);
        }
        
        .silex-id-1520591820551-14 {
            width: 930px;
            min-height: 630px;
            top: -4px;
            left: 20px;
        }
        
        .silex-id-1520601050067-16 {
            width: 219px;
            min-height: 117px;
            top: 170px;
            left: 380px;
            background-color: rgba(13, 255, 6, 0.9647058823529412);
            border-width: 0.1px 0.1px 0.1px 0.1px;
            border-style: solid;
        }
        
        .silex-id-1520601274593-17 {
            width: 860px;
            height: 528px;
            background-color: transparent;
            top: 36px;
            left: 51px;
        }
        
        .silex-id-1520600773245-15 {
            width: 858px;
            min-height: 60px;
            top: 507px;
            left: 54px;
            background-color: rgba(253, 255, 43, 0.9647058823529412);
        }
        
        .silex-id-1478366450713-3 {
            top: 100px;
            left: NaNpx;
            background-color: transparent;
            min-width: 960px;
        }
        
        .silex-id-1478366450713-2 {
            min-height: 20px;
            background-color: transparent;
            top: 15px;
            left: 384px;
            width: 960px;
        }
        
        .silex-id-1442914737143-3 {
            min-height: 53px;
            width: 349px;
            top: 817px;
            left: 269px;
        }
    